<a href="https://colab.research.google.com/github/AvinashShrikhande/Python_For_DataScience/blob/main/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **A Quick Introduction to Data Analysis and Manipulation with pandas**

**What is pandas?**

If you're getting into machine learning and data science and you're using Python, you're going to use pandas.

pandas is an open source library which helps you analyse and manipulate data.

**Why pandas?**

pandas provides a simple to use but very capable set of functions you can use to on your data.

It's integrated with many other data science and machine learning tools which use Python so having an understanding of it will be helpful throughout your journey.

One of the main use cases you'll come across is using pandas to transform your data in a way which makes it usable with machine learning algorithms.

**0. Importing pandas**

To get started using pandas, the first step is to import it.

The most common way (and method you should use) is to import pandas as the abbreviation pd.

If you see the letters pd used anywhere in machine learning or data science, it's probably referring to the pandas library.

In [1]:
import pandas as pd

### **1. Datatypes**

pandas has two main datatypes, Series and DataFrame.

*   Series - a 1-dimensional column of data.
*   DataFrame (most common) - a 2-dimesional table of data with rows and columns.

You can create a Series using pd.Series() and passing it a Python list.

In [2]:
# Creating a series of car types
cars = pd.Series(["BMW", "Toyota", "Honda"])
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [3]:
# Creating a series of colours
colours = pd.Series(["Blue", "Red", "White"])
colours

0     Blue
1      Red
2    White
dtype: object

In [4]:
# Creating a DataFrame of cars and colours
car_data = pd.DataFrame({"Car type": cars, 
                         "Colour": colours})

In [5]:
car_data

  Car type Colour
0      BMW   Blue
1   Toyota    Red
2    Honda  White

You can see the keys of the dictionary became the column headings (text in bold) and the values of the two Series's became the values in the DataFrame.

It's important to note, many different types of data could go into the DataFrame.

Here we've used only text but you could use floats, integers and more.

### **Exercises**

1.   Make a Series of different foods.
2.   Make a Series of different dollar values (these can be integers).
3.   Combine your Series's of foods and dollar values into a DataFrame.

In [6]:
# Example solution

# Make a Series of different foods
foods = pd.Series(["Almond butter", "Eggs", "Avocado"])

# Make a Series of different dollar values 
prices = pd.Series([9, 6, 2])

# Combine your Series of foods and dollar values into a DataFrame
food_data = pd.DataFrame({"Foods": foods,
                          "Price": prices})

food_data

           Foods  Price
0  Almond butter      9
1           Eggs      6
2        Avocado      2

### **2. Importing data**